.productList{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 20px 20px;
    position: relative;
    padding: 1rem;
    background: linear-gradient(0deg, #ccc 70%, transparent);
}
.productList::after{
  display: block;
  content: "";
  clear: both;
}